.wrapper {
  max-width: 968px;
  margin: auto;
}

.social_media svg {
  margin-right: 20px;
}

.image_container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.avatar {
  border-radius: 10rem;
  height: 10rem;
  width: 10rem;
}
