@import "../../assets/styles/colors.css";

.wrapper {
  column-gap: 20px;
  display: grid;
  grid-template-areas: "div div";
}

@media screen and (max-width: 873px) {
  .wrapper {
    grid-template-areas: "div";
  }
}
