@import "../../assets/styles/colors.css";

.wrapper {
  column-gap: 20px;
  row-gap: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

@media screen and (max-width: 873px) {
  .wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
}
