@import "../../assets/styles/colors.css";

.wrapper {
  background-color: var(--white-1);
  border-radius: 5px;
  margin: auto;
  max-width: 768px;
}

.time {
  color: var(--gray-1);
  font-size: 0.9rem;
}

.title {
  color: var(--black-1);
  font-size: 2.3rem;
  margin-bottom: 10px;
}

.description {
  color: var(--gray-1);
  font-size: 1.6rem;
  font-weight: lighter;
  line-height: 30px;
  margin-bottom: 50px;
}

.post {
  h2 {
    font-size: 1.7rem;
    margin: 2.4rem auto 1rem !important;
  }

  h3 {
    font-size: 1.5rem;
    margin: 2.4rem auto 1rem !important;
  }

  a {
    color: var(--blue-1);
  }

  p {
    margin: 0px auto 1.6rem;
    line-height: 1.7;
  }

  pre {
    margin-bottom: 1.6rem;
  }

  p,
  a,
  span,
  ol,
  ul,
  li,
  pre > code{
    font-size: 1.15rem;
    line-height: 1.7;
  }
}
