@import "../../assets/styles/colors.css";

.main {
  padding: 30px 30px 40px 30px;
  display: flex;
  justify-content: center;
}

.container {
  max-width: 1024px;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .main {
    padding-bottom: 130px;
  }
}
